div(id="loginModal" class="ui modal column segment transition")
    i(class="close icon")
    div(class="header") Login
    form(class="ui form" style="text-align:center")
        div(class="field")
            div(class="ui left icon input")
                i(class="user icon")
                input(type="text" placeholder="Username")
        div(class="field")
            div(class="ui left icon input")
                i(class="lock icon")
                input(type="password" placeholder="Password")
        br
        br
        button(class="blue ui fluid button" type="submit") Submit