div(id="registerModal" class="ui modal column segment transition")
    div(class="header") Register
    form(class="ui form" style="text-align:center")
        div(class="field")
            div(class="ui left icon input")
                i(class="user icon")
                input(type="text" placeholder="Username")
        div(class="field")
            div(class="ui left icon input")
                i(class="mail icon")
                input(type="email" placeholder="Email")
        div(class="field")
            div(class="ui left icon input")
                i(class="lock icon")
                input(type="password" placeholder="Password")
        div(class="field")
            div(class="ui left icon input")
                i(class="lock icon")
                input(type="password" placeholder="Repeat password")

        div(class="ui checkbox")
            input(type="checkbox")
            label Sign up to the newsletter to get updates
        br
        br
        button(class="blue ui fluid button" type="submit") Submit