# Ignore javascript builds in the root directory
/*.js
/Games/*.js
/Games/OneDay/*.js
/Games/Classic/*.js
/Client/login.js
Games/Demo/demo.js

#Ignore node_modules
node_modules

#Ignore unused html under development
lobby.html

#Ignore css output
/Client/*.css

#Ignore releases
release/
*.zip

#Ignore notes
TODO.txt
.DS_Store

Core/app.js
Core/core.js
Core/app.js
Games/Demo/demo.js
Core/core.js
Games/Demo/demo.js
dump.rdb
Core/player.js
Core/server.js
Core/utils.js
Core/game.js
Client/google2d9c2c2f48980e51.html
Games/.gitignore
Games/LICENSE
Games/README.md
Games/Screenshot.png
Games/Classic/Classic.ts
Games/Classic/LICENSE
Games/OneDay/LICENSE
Games/OneDay/oneDay.ts
Client/client.js
Client/components.js

Client/client.js
deploy

#get rid of js map files used for debugging
*.js.map
Client/mercutio_sc.ttf
Client/prospero_nbp.ttf
Client/retganon.ttf
Client/Pixel-Miners.otf
Client/assets/largeplatform.png
Client/assets/dungeon_tiles.png
