doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="main.css" type="text/css" rel="stylesheet")
    body
        div(style="text-align:center")
            br
            br
            p(style="text-align:center; margin:auto; font-size:4em; color:#cecece;") 404 error
            br
            p(style="color:#cecece; text-align:center;") There's nothing here
            br
            a(style="text-align:center;" href="/") Return to the homepage